* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    border: solid 5px brown;
}

header {
    text-align: center;
}

header nav {
    display: inline;
    text-align: left;
}

img {
    height: 300px;
    width: 400px;
}

button {
    display: inline-block;
}

.container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: pink;
}